
.header {
  padding: 1.5rem;
  background-color: #6f522a;
  display: flex;
  justify-content: center;
}

.header_heading {
  color: #fff9e6;
  text-transform: uppercase;
  font-size: 3rem;
}

.beer_left, .beer_right {
  height: 4rem;
}

.container-1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff9e6;
  background-image: linear-gradient(rgba(166, 123, 63, .70), rgba(166, 123, 63, .70)), 
  url('./img/pub.jpg');
  background-size: cover;
  backface-visibility: hidden;
}

.cheers_text:after{
  content:'Cheers with beers!';
}

.cheers_text {
  transition: all .5s;
  cursor: pointer;
}

.cheers_text:hover {
  transform: translateY(0.5rem);
}

.cheers_text:hover:after{
  content:'Try it now!';
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0)
  }
}

.beer_box {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 65rem;
  backface-visibility: hidden;
}

.beer_btn {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  transition: all .4s;
  width: 100%;
  opacity: 0.5;
}

.beer_btn:hover {
  transform: scale(1.05) translateY(-0.5rem);
  opacity: 0.7;
}

.container-2 {
  height: 100%;
  margin-bottom: 8rem;
}

.btn_search {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 7rem;
}

.button {
  background-color: #d5b890;
  border: 1px solid #a67b3f;
  color: #5c4423;
  padding: 1.5rem 3.2rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 5px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}

.search {
  align-self: center;
}

.search_input {
  padding: 1rem 6rem;
  border-radius: 2.5rem;
  border: 1px solid #372915;
  font-size: 1.8rem;
}

.search_input:focus {
  outline: none;
}

@media (max-width: 650px) {
  .beer_box {
    height: 50rem;
  }

  .beer_btn {
    width: 75%;
  }

  .btn_search {
    flex-direction: column;
  }
  .button {
    width: 100%;
  }

  .search{
    width: 100%;
    padding: 1.5rem;
  }

  .search_input {
    width: 100%;
  }
}

.beers_list {
  list-style-type: none;
  padding: 10px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;

}

.beer_info {
  width: 27rem;
  margin: 1.6rem 0;

  display: flex;
  flex-direction: column;
}

.beer_list-name {
  text-align: center;
  align-self: center;
  width: 19rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
}

.beer_list-name:hover {
  overflow: visible; 
  white-space: normal;
  width: 40rem;
}


.beer_img-box {
  height: 20rem;
  align-self: center;
}

.beer_img {
  height: 100%; 
}

.beer_info-btn {
  text-decoration: none;
  align-self: center;
  font-size: 1.7rem;
  color: rgb(111, 82, 42);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
}

.beer_info-popup {
  display: flex;
  justify-content: space-evenly;
}

.beer_info-box {
  width: 50%;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.beer_img-cont {
  height: 25rem;
  align-self: center;
  margin: 2rem 0;
}

.beer_img-popup {
  height: 100%;
}


.popup_close:link,
.popup_close:visited {
    color: #000;
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

.footer {
  background-color: #6f522a;
  color: #e3e7f1;
  text-align: center;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
